<% provide(:title, 'Get Out') %>

<% if signed_in? %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>

<% else %>
<div class="center hero-unit">
  <h1>Get outta here!!!!</h1>
  <h2>We hereby request you to make like a tree and get outta here before we <a target="_blank" href="http://www.toonpool.com/user/997/files/butt_kicked_judge_sentence_1273185.jpg">kick</a> you out!</h2>
  <%= link_to "Sign up NOW!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in NOW!", signin_path, class: "btn btn-large btn-primary" %>
</div>
<img alt="Rails" src="/assets/rails.png" />
<% end %>
